node_modules/.package_versions.json
node_modules/.store/ansi-colors@4.1.3/node_modules/ansi-colors/index.js
node_modules/.store/ansi-colors@4.1.3/node_modules/ansi-colors/LICENSE
node_modules/.store/ansi-colors@4.1.3/node_modules/ansi-colors/package.json
node_modules/.store/ansi-colors@4.1.3/node_modules/ansi-colors/README.md
node_modules/.store/ansi-colors@4.1.3/node_modules/ansi-colors/symbols.js
node_modules/.store/ansi-colors@4.1.3/node_modules/ansi-colors/types/index.d.ts
node_modules/.store/y18n@5.0.8/node_modules/y18n/CHANGELOG.md
node_modules/.store/y18n@5.0.8/node_modules/y18n/index.mjs
node_modules/.store/y18n@5.0.8/node_modules/y18n/LICENSE
node_modules/.store/y18n@5.0.8/node_modules/y18n/package.json
node_modules/.store/y18n@5.0.8/node_modules/y18n/README.md
node_modules/.store/y18n@5.0.8/node_modules/y18n/build/index.cjs
node_modules/.store/y18n@5.0.8/node_modules/y18n/build/lib/cjs.js
node_modules/.store/y18n@5.0.8/node_modules/y18n/build/lib/index.js
node_modules/.store/y18n@5.0.8/node_modules/y18n/build/lib/platform-shims/node.js
node_modules/ansi-colors/index.js
node_modules/ansi-colors/LICENSE
node_modules/ansi-colors/package.json
node_modules/ansi-colors/README.md
node_modules/ansi-colors/symbols.js
node_modules/ansi-colors/types/index.d.ts
node_modules/y18n/CHANGELOG.md
node_modules/y18n/index.mjs
node_modules/y18n/LICENSE
node_modules/y18n/package.json
node_modules/y18n/README.md
node_modules/y18n/build/index.cjs
node_modules/y18n/build/lib/cjs.js
node_modules/y18n/build/lib/index.js
node_modules/y18n/build/lib/platform-shims/node.js
